.select-language-container {
    margin: 15px;
    z-index: 2;

    .select-language {
        width: 320px;
    }

    @media only screen and (max-width: 700px) {
        .select-language {
            width: calc((100vw - 30px) /2);
        }
    }
}