$text-color: #6e6e6e;

.translator-text-area-container {
    position: relative;
    border: 1px solid #dbdbdb;
    display: flex;
    &.right {
        border-radius: 0px 0 0px 4px;
    }
    &.left {
        border-radius: 0px 0 4px 0px;
    }

    .translator-text-area {
        width: 100%;
        height: 250px;
        resize: none;
        border: none;
        background: transparent;
        outline: none;
        color: $text-color;
        font-size: 20px;
        padding: 7px;
    }

    .close-icon {
        cursor: pointer;
        color: $text-color;
        font-size: 18px;
        margin: 8px 11px 12px 3px;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 90px;
        color: #6e6e6e;
        font-size: 19px;

        span {
            cursor: pointer;
        }

        .icon {
            cursor: pointer;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.yellow {
                color: #e6e631;
            }

            &:hover {
                background: #f0eded;
                border-radius: 50%;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        border-radius: unset;

        .translator-text-area {
            padding: 0;
        }
    }

    @media only screen and (max-width: 719px) {
        max-height: 250px;
        max-width: 100%;
        min-width: auto;
    }
    @media only screen and (min-width: 720px) {
        &.left {
            border-left: none;
        }
    }
}
